<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	mensagem:   <%=msg%>
		
		
		<br />
		
		LISTA:
		<br />
<%- include('lista', {dados: dados, msg2: "oi"}); %>

		
</body>
</html>